<p>Hi <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p>Your password reset token is, <%= @token %> </p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you use the above token and create a new one.</p>
